<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<title>405 - Método não permitido</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">


	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>(:</h1>
			</div>
           <h2>405 - Método não permitido</h2>
            <p>O método HTTP utilizado não é permitido para a URL requisitada.</p>
            <a href="{{ url_for('dashboard') }}">Página inicial</a>
		</div>
	</div>

</body>

</html>
